.checkbox {
  display: none;
  &:checked ~ .checkbox__icon {
    background-color: $forest;
    &::before {
        width: 10px; 
        background-color: $white;
        top: 20px;
        left: calc(50% - 10px);
        transform: rotate(45deg);
    }
    &::after {
        background-color: $white;
        top: 18px;
        left: calc(50% - 4px);
        transform: rotate(135deg);
    }
  }
  &__icon {
      display: block;
      width: 34px;
      height: 34px;
      background-color: $white;
      margin-right: 20px;
      cursor: pointer;
      position: relative;
      transition: background-color 0.3s linear;
      &::before {
          content: "";
          position: absolute;
          width: 15px;
          height: 1px;
          background-color: $dark;
          top: calc(50% - 0.5px);
          left: calc(50% - 7.5px);
          transition: background-color 0.3s linear, transform 0.3s linear;
      }
      &::after {
          content: "";
          position: absolute;
          width: 15px;
          height: 1px;
          background-color: $dark;
          top: calc(50% - 0.5px);
          left: calc(50% - 7.5px);
          transform: rotate(90deg);
          transition: background-color 0.3s linear, transform 0.3s linear;
      }
  }
}
