.header {

    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 5px;
    @media (min-width: $sm) {
        min-height: 70px;
    }
    @media (min-width: $lg) {
        min-height: 90px;
    }
    &_scrolling {
        & .header__wrapper {
            background-color: rgba(255, 255, 255, 0.8);
            box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
            @media (any-hover: hover) {
                &:hover {
                    background-color: rgba(255, 255, 255, 0.9);
                }
            }
            @media (min-width: $sm) {
                height: 70px;
            }
            @media (min-width: $lg) {
                height: 80px;
            }
        }
    }

    &__wrapper {
        position: fixed;
        width: 100%;
        height: 70px;
        left: 0;
        top: 0;
        z-index: $header;
        background-color: $white;
        transition: background-color 0.4s linear, height 0.1s linear;
        @media (min-width: $sm) {
            height: 85px;
        }
        @media (min-width: $lg) {
            height: 100px;
        }
    }

    &__container {
        height: 100%;
        @media (min-width: $xxl) {
            max-width: $container + px;
            margin: 0 auto;
        }
    }

    &__body {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__logo {
        margin: 0 auto;
        z-index: $header + 2;
        @media (min-width: $lg) {
            margin: 0;
        }
        @media (min-width: $xxl) {
            margin: 0 0 0 145px;
        }
    }

    &__btn {
        @include a-sizes("width", 200, 100, 1);
        height: 48px;
        font-size: 0.875rem;
        z-index: $header + 2;
        @media (min-width: $sm) {
            height: 50px;
        }
        @media (min-width: $lg) {
            height: 60px;
            font-size: 1rem;
        }
    }

    &__menu {
        @media (min-width: $lg) {
            margin: 0 auto;
        }
    }
}