.popup {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    z-index: 2000;
    &.open {
        opacity: 1;
        visibility: visible;
        & .popup__window {
            transform: translate(0, 0) scale(1, 1);
            opacity: 1;
        }
    }
    &__container {
        min-height: 100%;
        width: 100%;
        padding-top: 70px;
        display: flex;
        @media (min-width: $xs) {
            padding: 20px;
            padding-top: 70px;
            justify-content: center;
        }
        @media (min-width: $md) {
            align-items: center;
        }
    }
    &__window {
        min-width: 100vw;
        margin-top: auto;
        position: relative;
        transition: transform 0.3s linear, opacity 0.3s linear;
        opacity: 0;
        transform: translate(0, -20%) scale(0.1, 0.1);
        @media (min-width: $xs) {
            min-width: 380px;
        }
        @media (min-width: $md) {
            min-width: 670px;
            margin: 0;
        }
    }
    &__close {
        position: absolute;
        right: 0;
        top: -40px;
        padding: 7px 7px 7px 7px;
        height: 30px;
        width: 30px;
        transition: filter 0.3s linear;
        @media (any-hover: hover) {
            &:hover {
                filter: drop-shadow(1px 1px 10px rgba(0, 255, 128, 0.55));
            }  
        }
    }
    &__icon-close {
        width: 15px;
        height: 15px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__book-form {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: $off;
        border: 1px solid $dark;
    }
}
