.search-btn {

    &__label {
        margin-bottom: 3px;
        font-family: $font-din;
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 1.4;
    }

    &__output {
        font-size: 0.875rem;
        line-height: 1.3;
    }
}