._sending {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $dark, $alpha: 0.3)
  }
}
.sending {
  color: official;
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  transform: scale(0.6);
  z-index: 10;
}
.sending div {
  transform-origin: 40px 40px;
  animation: sending 1.2s linear infinite;
}
.sending div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.sending div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.sending div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.sending div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.sending div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.sending div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.sending div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.sending div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.sending div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.sending div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.sending div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.sending div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.sending div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes sending {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}