.about {
    position: relative;
    display: flex;
    &__block {
        flex: 0 0 50%;
        overflow: hidden;
        height: 560px;
        position: relative;
        @media (max-width: $container + px) {
            height: auto;
            padding: 0 0 40% 0;
        }
        @media (max-width: $tablet) {
            padding: 0 0 50% 0;
        }
        @media (max-width: $phone) {
            padding: 0 0 60% 0;
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    &__link {
        position: absolute;
        width: 157px;
        height: 157px;
        border-radius: 50%;
        top: calc(50% - 157px / 2);
        left: calc(50% - 157px / 2);
        background-color: $rose;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s linear, box-shadow 0.3s linear;
        @media (any-hover: hover) {
            &:hover {
                background-color: $forest;
                box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.55);
            }
            &:hover .about__text-link {
                color: $white;
            }
            &:active {
                background-color: $green;
            }
        }
        @media (max-width: $tablet-wide) {
            width: 100px;
            height: 100px;
            top: calc(50% - 100px / 2);
            left: calc(50% - 100px / 2);
        }
        &:active {
            background-color: $green;
        }
    }
    &__text-link {
        font-family: "DINLight";
        font-size: 16px;
        line-height: 22px;
        color: #333333;
        transition: color 0.3s linear;
        position: relative;
        text-align: center;
    }
}
