.booking-top {

    @extend %paddingBottom;
    &__inner {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        background: url("../image/bookingbg.jpg") bottom/cover no-repeat;
        @include a-sizes("height", 350, 200, 1);
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#3333, 0.6);
            
        }
    }
    &__title {
        z-index: 1;
        @include a-sizes("margin-top", 60, 30, 1);
        text-align: center;
        @include a-sizes("font-size", 70, 42, 0);
        margin-bottom: 15px;
    }

}

.booking {
    @extend %paddingBottom;
    &__inner {
        display: flex;
        justify-content: space-between;
        @media (max-width: $tablet-wide) {
            flex-direction: column-reverse;
        }
    }

    &__content {
        @include a-sizes("margin-left", 147, 10, 0);
        width: 660px;
        @media (max-width: $container + px) {
            margin: 0 auto;
        }
        @media (max-width: $tablet) {
            max-width: 660px;
            width: auto;
        }
    }

    &__block { 
        @include a-sizes("margin-bottom", 75, 15, 1);
    }

    &__aside {
        
    }
}

.services {
   
    &__title {
        font-size: 24px;
        line-height: 24px;
        color: $forest;
        padding-bottom: 25px;
        border-bottom: 0.7px solid $forest;
    }

    &__list {
    }

    &__info{
        margin-top: 20px;
        line-height: 28px;
    }
    &__list-item {
        margin: 24px 0;
        position: relative;
    }

    &__cart {
        background-color: $rose;
        width: 100%;
        height: 70px;
        padding: 13px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: default;
        @media (max-width: $phone) {
            padding: 13px;
        }
    }

    &__btn-main{
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__text {
        @media (max-width: $phone) {
            font-size: 14px;
            display: flex;
            flex-wrap: wrap;
        }
    }

    .checkbox {
        display: none;
    }

    .checkbox:checked + &__check-icon {
        background-color: $forest;
        &::before {
                    width: 10px; 
                    background-color: $white;
                    top: 20px;
                    left: calc(50% - 10px);
                    transform: rotate(45deg);
                }
                &::after {
                    background-color: $white;
                    top: 18px;
                    left: calc(50% - 4px);
                    transform: rotate(135deg);
                }
                @media (any-hover: hover) {
                    &:hover {
                        background-color: $white;
                        &::before, &::after {
                            background-color: $forest;
                        }
                    }
                }
    }

    &__check-icon {
        width: 34px;
        height: 34px;
        background-color: $white;
        margin-right: 20px;
        cursor: pointer;
        position: relative;
        transition: background-color 0.3s linear;
        &::before {
            content: "";
            position: absolute;
            width: 15px;
            height: 1px;
            background-color: $dark;
            top: calc(50% - 0.5px);
            left: calc(50% - 7.5px);
            transition: background-color 0.3s linear, transform 0.3s linear;
        }
        &::after {
            content: "";
            position: absolute;
            width: 15px;
            height: 1px;
            background-color: $dark;
            top: calc(50% - 0.5px);
            left: calc(50% - 7.5px);
            transform: rotate(90deg);
            transition: background-color 0.3s linear, transform 0.3s linear;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $forest;
                &::before, &::after {
                    background-color: $white;
                }
            }
        }
        @media (max-width: $phone) {
            margin-right: 12px;
        }
        
    }

    &__name {

    }

    

    &__price {
        @media (max-width: $phone) {
            width: 100%;
        }
    }

    &__btn {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $phone) {
            right: 0;
        }
        &::before {
            position: absolute;
            content: "See details";
            left: -70px;
            font-size: 14px;
            line-height: 18px;
            color: $dark;
            opacity: 0;
            transition: opacity 0.3s linear;
            @media (max-width: 480px) {
                display: none;
            }
        }
        @media (any-hover: hover) {
            &:hover::before {
                opacity: 1;
            }
        }
        &._close-spr .services__arrow {
            transform: rotate(-90deg);
        }
    }
    &__arrow {
        display: block;
        transform: rotate(90deg);
        transition: transform 0.3s linear;
    }

    &__content {
    }

    &__text-content {
        font-family: "OpenSans-Light", sans-serif;
        padding: 24px;
        font-size: 14px;
        line-height: 20px;
        color: $dark;
    }
}

.aside {
    width: 430px; 
    flex: 0 0 auto;
    border: 0.7px solid $forest;
    padding: 24px;
    height: max-content;
    margin: 0 22px;
    @media (max-width: $tablet-wide) {
        margin: 0 auto;
        @include a-sizes("margin-bottom", 100, 70, 0);
    }
    @media (max-width: 450px) {
        width: 100%;
        & .book__search:last-of-type::after {
            display: none;
        }
    }
    @media (max-width: $phone) {
        padding: 13px;
    }
   
    &__title {
        line-height: 40px;
        color: $dark;
        margin-bottom: 20px;
    }

    &__title-price {
        font-family: "OpenSans-SemiBold", sans-serif;
        font-size: 24px;
    }

    &__book {
        flex: 1 1 auto;
        border: 0.7px solid $forest;
        margin-bottom: 24px;
        @media (max-width: 450px) {
            flex-wrap: wrap;
            & .book__elem {
                border-top: 0.7px solid $forest;
                flex: 1 1 100%;
            }
        }
    }

    &__btn {
        @extend %button-small;
        width: 100%;
    }

	&__info {
        padding: 30px 0;
        color: $dark;
	}

	&__info-item {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        line-height: 18px;
        &._discount {
            color: $green;
		}
        &._total {
            font-family: "OpenSans-SemiBold", sans-serif;
            font-size: 20px;
            margin-bottom: 10px;
        }	
	}

    &__hr {
        margin: 24px 0;
    }

	&__info-text {
        margin-right: 10px;
	}

	&__info-price {
	}
    &__discount {
        display: flex;
    }
    &__coupon-btn {
        @extend %button-small;
        height: 50px;
        padding: 11px;
        flex: 1 1 28%;
    }
    &__label-coupon:first-child {
        margin: 0;
    }
	
}


