.confirm {
    &__inner {
        display: flex;
        justify-content: space-between;
        @include a-sizes("padding-top", 90, 30, 1);
        @include a-sizes("padding-bottom", 100, 30, 1); 
        @media (max-width: $tablet-wide) {
            flex-direction: column;
        }
    }
    &__form {
        @include a-sizes("margin-left", 147, 10, 0);
        @media (max-width: $container + px) {
            margin: 0 auto;
        }
    }
}

.pay-form {

    &__back {
        display: inline-block;
        position: relative;
        font-family: "DINLight", sans-serif;
        line-height: 36px;
        text-transform: uppercase;
        color: $dark;
        padding-left:53px;
        margin-bottom: 50px;
        transition: transform 0.3s linear;
        &::before {
            position: absolute;
            content: url(../image/arrow-left.svg);
            left: 0px;
            top: calc(50% - 15px);
        }
        &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 0.7px;
            background-color: $dark;
            transform: scale(0, 1);
            transition: transform 0.3s linear;
        }
        @media (any-hover: hover) {
            &:hover {
                &::after {
                    transform: scale(1, 1);
                }
            }
        }
    }

    &__personal {
        border: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 660px;
        margin-bottom: 50px;  
    }

    &__personal-title {
        width: 100%;
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
    }

    &__label {
        width: calc(50% - 12px);
        display: flex;
    }

    &__area {
        width: 100%;
    }

    &__tel-code {
        flex: 1 1 25%;
        cursor: pointer;
        border: 0.7px solid $forest;
        border-right: 0.7px solid transparent;
        position: relative;
        transition: box-shadow 0.3s linear;
        @media (any-hover: hover) {
            &:hover {
                box-shadow: 0px 0px 7px rgba(0, 38, 252, 0.4);
            }
        }
    }

    

    &__tel-placeholder {
        left: 27%;
    }

    &__btn {
        @extend %button-small;
        width: 60%;
    }

    &__bank-list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__list-item {
        margin-left: 19px;
    }

    &__list-link {
        @media (any-hover: hover) {
            &:hover .pay-form__list-img {
                filter: drop-shadow(1px 1px 12px rgba(0, 255, 128, 0.95));
            }
        }
    }

    &__list-img {
        display: block;
        transition: filter 0.3s linear;
    }

}


.select-code {

    &__value {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__img {
        display: block;
    }

    &__list {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s linear;
        position: absolute;
        top: 110%;
        background-color: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(4px);
        width: 100%;
        height: 80px;
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
        &._show-list {
            opacity: 1;
            visibility: visible;
        }
    }

    &__option {
        flex: 1 1 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.2s linear;
        @media (any-hover: hover) {
            &:hover {
                background-color: $grey;
            }
        }
    }
}

.country {

    position: relative;

    &__btn {
        cursor: pointer;
        @media (any-hover: hover) {
            &:hover + .country__select-btn {
                background-color: $hg;
                
            }
        }
        &._selected + .country__select-btn {
            transform: rotate(-180deg);
        }
    }

    &__select-btn {
        position: absolute;
        pointer-events: none;
        width: 36px;
        height: 36px;
        background-color: $rose;
        display: flex;
        align-items: center;
        justify-content: center;
        top: calc(50% - 18px);
        right: 10px;
        transition: background-color 0.3s linear;
    }

    &__input {
        border: none;
        border-radius: 0;
        background-color: transparent;
        height: 100%;
        width: 100%;
        font-size: 16px;
        color: $dark;
        cursor: pointer;
    }

    &__select-img {
        display: block;
    }

    &__list {
        position: absolute;
        height: 300px;
        overflow-y: auto;
        top: 100%;
        background-color: $white;
        width: 100%;
        padding: 10px 0;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s linear;
        z-index: 2;
        &._show-list {
            opacity: 1;
            visibility: visible;
            &::-webkit-scrollbar {
                width: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $hg;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-track {
                background-color: $grey;
                box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
            }
        }
    }

    

    &__option {
        line-height: 32px;
        cursor: pointer;
        transition: baclground-color 0.3s linear;
        padding: 0 24px;
        @media (any-hover: hover) {
            &:hover {
                background-color: $grey;
            }
        }
    }
}

.card {

    &__label {
        width: 100%;
    }

    &__info {
        width: 50%;
    }

    &__ccv {
        border-left: 0.7px solid transparent;
    }

    &__btn {
        cursor: pointer;
        @media (any-hover: hover) {
            &:hover + .country__select-btn {
                background-color: $hg;
                
            }
        }
        &._selected + .country__select-btn {
            transform: rotate(-180deg);
        }
    }
    &__list {
        position: absolute;
        height: 84px;
        overflow-y: auto;
        top: 100%;
        background-color: $white;
        width: 100%;
        padding: 10px 0;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s linear;
        z-index: 2;
        &._show-list {
            opacity: 1;
            visibility: visible;
        }
    }

    &__input {
        border: none;
        border-radius: 0;
        background-color: transparent;
        height: 100%;
        width: 100%;
        font-size: 16px;
        color: $dark;
        cursor: pointer;
    }

    &__option {
        line-height: 32px;
        cursor: pointer;
        transition: baclground-color 0.3s linear;
        padding: 0 24px;
        @media (any-hover: hover) {
            &:hover {
                background-color: $grey;
            }
        }
    }
}