.facilities {
    background-color: $forest;
    color: $white;
    &__inner {
        @extend %paddingBottom;
        @include a-sizes("padding-top", 150, 65, 1);
        @include a-sizes(" max-width", 830, 250, 1);
        margin: 0 auto;
    }

    &__title {
        font-family: "OpenSans-Regular";
        @include a-sizes("font-size", 40, 20, 1);
        text-align: center;
        @include a-sizes("margin-bottom", 100, 30, 1);
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 83px;
        & * {
            justify-self: center;
        }
        @media (max-width: $tablet-wide) {
            gap: 50px;
        }
        @media (max-width: $tablet) {
            grid-template-columns: repeat(3, 1fr);
            gap: 50px 20px;
        }
        @media (max-width: $phone) {
            gap: 40px 10px;
        }
    }

    &__unit {
        display: flex;
        flex-direction: column;
        align-items: center;  
    }

    &__img {
        @include a-sizes("margin-bottom", 20, 10, 1);
        @include a-sizes("width", 70, 30, 1);
    }

    &__name {
        text-align: center;
        max-width: 145px;
        @include a-sizes("font-size", 18, 14, 1);
        @include a-sizes("line-height", 28, 20, 1);
    }
}
