@include font("CrimsonPro-Regular", "CrimsonPro-Regular", "400", "normal");
@include font("DINMedium", "DINMedium", "500", "normal");
@include font("DINLight", "DINLight", "300", "normal");
@include font("Lato-Regular", "Lato-Regular", "400", "normal");
@include font("Mulish-Regular", "Mulish-Regular", "400", "normal");
@include font("Handlee-Regular", "Handlee-Regular", "400", "normal");
@include font("OpenSans-Bold", "OpenSans-Bold", "700", "normal");
@include font("OpenSans-Italic", "OpenSans-Italic", "400", "normal");
@include font("OpenSans-LightItalic", "OpenSans-LightItalic", "300", "normal");
@include font("OpenSans-SemiBold", "OpenSans-SemiBold", "600", "normal");
@include font("OpenSans-Regular", "OpenSans-Regular", "400", "normal");
@include font("OpenSans-Light", "OpenSans-Light", "300", "normal");
