.forest {
    &__inner {
        
        @media (max-width: $tablet) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
    }

    &__block {
        background-color: $rose;
        @media (max-width: $tablet) {
            flex: 0 0 100%;
            &:first-child {
                order: 1;
            }
        }
    }

    &__info {
        @include a-sizes("padding-left", 110, 15, 1);
        @include a-sizes("padding-bottom", 150, 65, 1);
        @include a-sizes("padding-top", 150, 65, 1);
        @media (max-width: $tablet) {
            @include a-sizes("padding-right", 110, 15, 1);
        }

    }

    &__text {
        @include a-sizes("max-width", 465, 130, 1);
        font-family: "OpenSans-Light";
        font-size: 16px;
        line-height: 30px;
        color: $black;
        @include a-sizes("margin-bottom", 20, 10, 1);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        @media (max-width: $tablet) {
            max-width: 100%;
        }
        &._alltext {
            @include a-sizes("padding-right", 110, 15, 1);
            @include a-sizes("max-width", 1200, 260, 1);
            margin-left: auto;
            margin-right: auto;
            overflow: inherit;
            text-overflow: inherit;
            display: block;
            -webkit-line-clamp: inherit;
            -webkit-box-orient: inherit;
            @media (max-width: $tablet) {
               padding-right: 0;
            }
        }
        &._alltext ~ .forest__link {
            display: block;
            max-width: 200px;
            margin-left: auto;
            margin-right: auto; 
        }
        
    }

    &__link {
        @extend %link;    
    }
    
}
.map-block {
    @media (min-width: 769px) {
        float: left;
        width: 55vw;
        &._bottom-m {
            padding-bottom: 30px;
        }
    }
}
#forest {
    @media (min-width: 769px) {
        width: 50vw;
    }
    
    height: 660px;
    z-index: 8;
    overflow: hidden;
    @media (max-width: $container + px) {
        height: calc(525.02px + 134.98 * ((100vw - 769px) / (1408 - 769)));
    }
}
@keyframes waves {
    0% {
        transform: scale(0);
        opacity: 0.9;
    }
    100% {
        opacity: 0;
        transform: scale(6);
    }
}
.forest-marker {
    position: relative;
    &::after {
        position: absolute;
        content: "WE ARE HERE";
        width: 76px;
        height: 76px;
        background-color: $white;
        color: $dark;
        font-size: 12px;
        font-family: "DINLight";
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        top: calc(50% - 76px / 2);
        left: calc(50% - 76px / 2);
    }
}
.map-waves {
    position: absolute;
    content: "";
    width: calc(36px + 60 * ((100vw - 280px) / (1920 - 280)));
    height: calc(36px + 60 * ((100vw - 280px) / (1920 - 280)));
    top: calc(50% - (36px + 60 * ((100vw - 280px) / (1920 - 280))) / 2);
    left: calc(50% - (36px + 60 * ((100vw - 280px) / (1920 - 280))) / 2);
    background-color: $white;
    border-radius: 50%;
    pointer-events: none;
    animation: waves 2s cubic-bezier(0.9, 0.24, 0.62, 0.79) infinite;
    &:nth-of-type(1) {
        animation-delay: 0;
    }
    &:nth-of-type(2) {
        animation-delay: 0.3s;
    }
    &:nth-of-type(3) {
        animation-delay: 0.5s;
    }
}
.map-waves._waves-hide {
    animation: none;
}
