@import "minireset";
@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
@import "../../node_modules/swiper/swiper-bundle.min.css";
@import "../../node_modules/leaflet-gesture-handling/dist/leaflet-gesture-handling.min.css";
@import "../../node_modules/aos/dist/aos.css";
@import "fonts";
@import "vars";
@import "global";
@import "header";
@import "footer";
@import "top";
@import "cabins";
@import "forest";
@import "facilities";
@import "about";
@import "contact";
@import "popup";
@import "calendar";
@import "top-hut";
@import "hut-sliders";
@import "area-top";
@import "area";
@import "about-us";
@import "faq";
@import "booking";
@import "confirm";

