//=================================================================
//=============== COLORS ==========================================

$white: #fff;
$black: #000;
$forest: #5b6460;
$lgreen: #e9ece0;
$green: #41906d;
$dark: #333333;
$grey: #efefef;
$hg: #808e88;
$dgrey: #828282;
//=================================================================
//=============== BREAKPOINTS =====================================

$xs: 400px;
$sm: 576px;
$md: 768px;
$lg: 1000px;
$xl: 1200px;
$xxl: 1400px;

//=================================================================
//===================== SIZES =====================================

$minWidth: 340;
$maxWidth: 1920;
$container: 1408;
$cont: 1116px;

//=================================================================
//===================== FONTS =====================================

$font-crismo: "CrismoPro", sans-serif;
$font-din: "DIN", sans-serif;
$font-lato: "Lato", sans-serif;
$font-mulish: "Mulish", sans-serif;
$font-handlee: "Handlee", sans-serif;
$font-os: "OpenSans", sans-serif;

//=================================================================
//====================== OFFSETS ==================================
$off-section: 10.65%;
$off: 10px;
//================================================================
//===================== Z-INDEX ===================================

$zindex-1: 1;
$header: 10;
